.comment{
    padding: 0.5em;
    border: 1px solid red;
    border-radius: 0.5em;
    margin: 0.5em;
    background-color:burlywood;
    width: 40%;
}

.comments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}