.Users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: cadetblue;
    gap: 0.5em;
    padding: 0.5em;
    }
.user{
    background-color: beige;
    border: 1px solid red;
    border-radius: 0.5em;
    width: 30%;
    padding: 0.5em;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.user button{
    display: block;
    width: 50%;
    border: 1px solid red;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.7em;

}


