.header{
    position: sticky;
    top:0;
    background-color: lightblue;
    opacity: 0.8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 2em;
    z-index: 300;
}
.header a{
    text-decoration: none;
    color:inherit;
}

.header a[class="active"] {
    color: red;
}
