.header{
    display: flex;
    height: 50px;
    background-color: blue;
    color: snow;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: azure;
}
.header a[class='active']{
    color: red;
}