.cars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.car {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 0.5em;
    padding: 0.5em;
}

.car button{
    margin: 0.5em;
    border: 1px solid red;
    border-radius: 0.4em;
}

.form{
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 2px solid olivedrab;
    margin: 0.5em;
}
.form input{
    margin-right: 0.5em;
}